In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
import math
median_bedrooms = math.floor(df['bedrooms'].median())
median_bedrooms

4

In [16]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [17]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [26]:
reg =linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)
reg.coef_
reg.intercept_
reg.predict([[3000,3,15]])

array([579201.19929613])